.cart-header { 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    .head-message { 
        padding: 0 16px;
    }
}
.cart-item {
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    .card-item-left {  
        display: flex;
        align-items: center;
        margin-left: -16px;
        overflow: hidden;   
        .cart-item-description {
            font-size: 13px;
        }
        .cart-item-image {
            img {
                max-width: 65px;
                padding: 0 10px;
            }
        }
    }
    .card-item-right {    
        display: flex;
        .cart-item-quantity { 
            white-space: nowrap;
            padding-left: 20px;
        }
    }
}



.summary-list-item { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    padding: 10px;
    padding-top: 20px;
    button { 
        background-color: #38af7d;
        color: white;
    }
    .total-cost {
        font-family: Roboto;
        font-weight: 300;
        font-size: 26px;

        .exchange {
            font-size: 16px;
        }
    }
}

// ::ng-deep .mat-list-item-content {
//     padding: 0 !important;
//     padding-right: 16px !important;
// }

.empty-cart-message { 
    padding: 0 15px;
    margin-bottom: 35px;
}