.content { 
    padding: 0px 60px;
    width: 500px;
}

.actions {
  justify-content: flex-end;

    .buy-button { 
        background-color: #38af7d;
        color: white;
    }
}



.form-purchase { 
    display: flex;
    flex-direction: row;
    
    .left-container { 
        
    }
    .right-container {

    }
    .form-contact { 
        .full-width {
            width: 100%;
        }
    }
    .form-payment { 
        label { 
            padding: 20px;
            padding-right: 39px;
        }
        mat-radio-button { 
            padding: 0 4px;
            &:last-child {
                padding-left: 13px;
            }
        }
    }
    .form-delivery { 
        label { 
            padding: 20px;
        }
    }
    mat-radio-button { 
        padding: 0 5px;
    }
    .form-comment { 
        padding: 20px 0;
        .full-width { 
            width: 100%;
        }
    }
}

.card-logo { 
    width: 45px;
}