<div class="footer-info">
    <div class="footer-info-part">
        <h3 class="footer-headline">Доставка</h3>
        <div class="footer-subtitle">Сроки доставки<p>В отличии от конкурентов, наш магазин отправляет товары в день
                заказа, если заказ подтверждён до 17:00<br />
                В редких случаях требуется подвозить товар с филиалов. В данном случае сроки отправки 1-2 дня.</p>
        </div>
        <div class="footer-subtitle">Курьером до двери по всей Украине</div>
        <p>Адресная доставка товаров осуществляется курьерами служб доставки «Міст Експрес», «Новая почта» по всей
            территории Украины.</p>
        <div class="footer-subtitle">Доставка в отделения компаний перевозчиков.<br />
            <p>Доставка по Украине через службу доставки «Новая почта», «Міст Експрес», Почтоматы «Приватбанка».
                <br />Доставка оплачивается клиентом перевозчику по факту получения товара. </p>
        </div>
    </div>
    <div class="footer-info-part">
            <h3 class="footer-headline">Контакты</h3>
            <div class="footer-subtitle">Интернет-магазин KIT.ORG.UA</div>
            <p>Киев, Жилянская, 118</p>
            <div class="footer-subtitle">Телефон</div>
            <p class=" footer-contacts-phone">066 467 88 34<br />044 333 68 34</p>
            <div class="footer-subtitle">Режим работы</div>
            <p>ПН-ПТ 10:00-18:00</p>
            <img src="assets/visa-mastercard.png" width="85" height="66">
            <img src="assets/liqpay.png" width="90" height="50">
    </div>
    <div>
      <div class="footer-call-offer">
          <h3 class="footer-headline">Всегда поможем</h3>
          <div>
              <p>Наши специалисты помогут Вам правильно подобрать оборудование.  Сопровождаем на каждом этапе: от  подбора - до настройки и  установки. </p>
          </div>
            <form >
                <label for="phone">Закажи консультацию прямо сейчас</label><br/>
                <input class="input-phone-area" type="tel" id="phone" name="phone" placeholder="Введите Ваш номер" pattern="[0-9]{10}" required><br/>
                <button class="button-call-offer">Заказать</button>
            </form>
     </div>
 </div>
<div class="site-promo">
    Created by Tsyhankov Nikita
    <div>
        <a target="_blank" href="https://t.me/vanmxpx"> <fa-icon [icon]="['fab', 'telegram']"></fa-icon> @vanmxpx</a> 
        <a target="_blank" href="https://twitter.com/vanmxpx"><fa-icon [icon]="['fab', 'twitter-square']"></fa-icon> @vanmxpx</a> 
        <a target="_blank" href="https://github.com/vanmxpx/"><fa-icon [icon]="['fab', 'github']"></fa-icon> vanmxpx</a> 
    </div>
</div>