.footer-info {
    background:#181818;
    color:#fff;
    display:flex;
    justify-content:space-around;
    align-items: flex-start;
    .footer-info-part {
        padding:0;
        margin:0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        order: 1;
        align-self:flex-start;

        .footer-headline {
            font-size:22px;
        }
        .footer-subtitle {
            font-size:17px;
            color:#e0e0e0;
        }
        p{
            width:300px;
            height:95px;
            color:#adadad;
            font-size:14px;
        }
        .p-contacts {
            height:40px;
        }
        .footer-call-offer {
            padding-bottom:20px;
            display:flex;
            flex-direction:column;
            justify-content: space-between;
            .input-phone-area{
                width:150px;
                height: 17px;
                border-radius: 15px;
                padding:8px;
            }
            .input-phone-area:focus{
                border-color: silver;
                box-shadow:0px 0px 5px white;
            }
            .button-call-offer {
                background-color:#5ae4aa;
                border-radius: 20px;
                border: none;
                padding: 2px 10px;
                font-size: 15px;
                color: #fff;
            }
        }
    }
}