<div class="footer-info">
    <div class="footer-info-part">
        <h3 class="footer-headline">Доставка</h3>
        <span class="footer-subtitle">Сроки доставки<p>В отличии от конкурентов, наш магазин отправляет товары в день
                заказа, если заказ подтверждён до 17:00<br />
                В редких случаях требуется подвозить товар с филиалов. В данном случае сроки отправки 1-2 дня.</p>
            </span>
        <span class="footer-subtitle">Курьером до двери по всей Украине</span>
        <p>Адресная доставка товаров осуществляется курьерами служб доставки «Міст Експрес», «Новая почта» по всей
            территории Украины.</p>
        <span class="footer-subtitle">Доставка в отделения компаний перевозчиков.<br />
            <p>Доставка по Украине через службу доставки «Новая почта», «Міст Експрес», Почтоматы «Приватбанка».
                <br />Доставка оплачивается клиентом перевозчику по факту получения товара. </p>
        </span>
    </div>
    <div class="footer-info-part">
        <h3 class="footer-headline">О нашей компании</h3>
        <span class="footer-subtitle">Мировой лидер<p>Ajax — охранная система эпохи, когда компьютеры уже умнее людей,
                но мы еще сохраняем над ними власть.<br />Ajax – Самая титулованная беспроводная система безопасности в
                Европе</p></span>
    </div>
    <div class="footer-info-part">
        <h3 class="footer-headline">Контакты</h3>
        <span class="footer-subtitle">Интернет-магазин KIT.ORG.UA</span>
        <p class="p-contacts">Киев, Жилянская, 118</p>
        <span class="footer-subtitle">Телефон</span>
        <p class="p-contacts">+380664678834<br />+380443336834</p>
        <span class="footer-subtitle">Режим работы</span>
        <p class="p-contacts">ПН-ПТ 10:00-18:00</p>
        <div>
            <form class="footer-call-offer">
                <label for="phone">Закажи консультацию прямо сейчас</label>
                <input class="input-phone-area" type="tel" id="phone" name="phone" placeholder="Введите Ваш номер"
                    pattern="[0-9]{10}" required>
                <button class="button-call-offer">Заказать</button>
            </form>
        </div>
    </div>
</div>
<div class="site-promo">
    Created by Tsyhankov Nikita
    <div>
        <a target="_blank" href="https://t.me/vanmxpx"> <fa-icon [icon]="['fab', 'telegram']"></fa-icon> @vanmxpx</a> 
        <a target="_blank" href="https://twitter.com/vanmxpx"><fa-icon [icon]="['fab', 'twitter-square']"></fa-icon> @vanmxpx</a> 
        <a target="_blank" href="https://github.com/vanmxpx/"><fa-icon [icon]="['fab', 'github']"></fa-icon> vanmxpx</a> 
    </div>

</div>