<a (click)="openDialog()" class="call-offer-button"></a>
<div id="open-offer-call-module" class="modalDialog">
    <div>
           <a href="#close1" title="Закрыть" class="close1">X</a>
           <h3>Заказ звонка</h3>
           <form id="form_input">
             <label for="name">Имя<span>*</span></label><br/>
             <input type="text" placeholder="Введите имя" name="name" id="name"><br/>
             <label for="phone">Ваш номер телефона<span>*</span></label><br/>
             <input type="phone" placeholder="Введите  номер телефона" name="phone" id="phone">
             <a href="#close1" class="apply-offer-button">Отправить</a>
            </form>
      </div>
 </div>
<div id="offer-window">
    <div class="callOfferPopup">
        <p (click)="openDialog()">Позвонить Вам?</p>
        <button class="close" title="Закрыть" onclick="document.getElementById('offer-window').style.display='none';"> </button>
    </div>
</div>