@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400,400italic,700,700italic&subset=latin,latin-ext,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,latin-ext,greek-ext,greek,vietnamese,cyrillic,cyrillic-ext');
.parallax-bg { 
    width: 100%;
    &.main {
        background-image: url("/assets/wooden_bg.jpg");
        height: 100vh;
    }
    &.about {
        background-image: url("/assets/about_bg.jpg");
        height: 350px;
    }
}

mat-toolbar {
    z-index: 10;
    position: fixed;
    min-height: 54px;
}

.main-toolbar {
    height: 54px;
    .ajax-logo-mini {
        width: 80px;
        padding: 0 10px;
        fill: whitesmoke;
    }
}
.arrow-up {
    width: 0; 
    height: 0; 
    position: fixed;
    left: 251px;
    top: 45px;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 9px solid #ffffff96;

    &.hidden { 
        opacity: 0;
    }
}

.products-toolbar {
    overflow: hidden;
    white-space: normal;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid #ffffff96;
    height: auto; //83

    padding: 5px;
    transition: 0.3s;

    &.hidden { 
        height: 0;
        padding: 0px;
        border-top: 0px;
    }

    .category-button {
        transition: 0.3s;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 64px;
        min-height: 36px;
        padding: 0 9px; 
        border-radius: 4px;
        font-family: Roboto,"Helvetica Neue",sans-serif;
        color: inherit;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
    }
    .category-button:hover {
        background-color: #2a2a2a;
    }
}
.face {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ajax-logo {
    width: 50%;
    fill: whitesmoke;
}
.ajax-subtitle { 
    padding-top: 8px;
    font-size: 22px;
    font-family: fantasy;
    letter-spacing: 2px;
    color: whitesmoke;
}

.button-floating {
    position: fixed;
    z-index: 10;
    left: 10%;
    bottom: 40px;
    transition: 0.3s;
    .cart {

    }
    &.hidden { 
        opacity: 0;
    }
}

// Blocks
.block {
    padding-top: 54px;
    display: flex;
    background: #f8f6f6;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .block-heading { 
        color: #353333;
    }
    .block-body { 
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.block-body { 
    &.pros { 
        padding: 20px 20px 100px 20px;
    }
}
.pros-head { 
    padding: 15px 40px;
}
.pros-desc { 
    padding: 15px 40px;
}
.prod-mini {
    width: 125px;
    height: 125px;
}
.pros-list {
    list-style: none;
    li {
        width: 250px;
        display: flex;
        align-items: center;
        mat-icon {
            color: green;
        }
    }
}