@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400,400italic,700,700italic&subset=latin,latin-ext,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese');
 @import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,latin-ext,greek-ext,greek,vietnamese,cyrillic,cyrillic-ext');
.parallax-bg { 
    width: 100%;
    &.main {
        background-image: url("/assets/wooden_bg.jpg");
        height: 100vh;
    }
    &.about {
        background-image: url("/assets/about_bg.jpg");
        height: 350px;
    }
}

.main-toolbar {
    position: fixed;
    padding: 0 20px;
    .ajax-logo-mini {
        width: 80px;
        padding: 0 10px;
        fill: whitesmoke;
    }
}
.face {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ajax-logo {
    width: 50%;
    fill: whitesmoke;
}
.ajax-subtitle { 
    padding-top: 8px;
    font-size: 22px;
    font-family: fantasy;
    letter-spacing: 2px;
    color: whitesmoke;
}


// Blocks
.block {
    display: flex;
    background: #f8f6f6;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .block-heading { 
        color: #353333;
    }
    .block-body { 
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.block-body { 
    &.pros { 
        padding: 20px 20px 100px 20px;
    }
}
.pros-head { 
    padding: 15px 40px;
}
.pros-desc { 
    padding: 15px 40px;
}
.prod-mini {
    width: 125px;
    height: 125px;
}
.pros-list {
    list-style: none;
    li {
        width: 250px;
        display: flex;
        align-items: center;
        mat-icon {
            color: green;
        }
    }
}


.module{
    width:100%;
    background-color: white;
  }
  .module-head{
    text-align:center;
    font-family:'Roboto', sans-serif;
    margin-top: 50px;
    margin-bottom: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .module-head h2{
    margin-bottom: 22px;
    font-size: 32px;
    padding:10px;
  }
  .module-head .module-description{
      h6 {
        font-weight: 200;
        text-align: center;
        font-size: 16px;
      }
      
      width: 700px;
  }
  .module-body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
    align-content:space-around;
  }
  .module-body img {
    width:366px;
    height:220px;
  }
  .module-body span { 
    font-family: Roboto;
    font-weight: 300;
    font-size: 26px;
    .exchange { 
        font-size: 16px;
    }
  }
  .module-body h3{
    text-align: center;
    margin: 10px 0;
    font-size: 21px;
  }
  .module-body .product-description {
      width: 335px;
      margin: 6px;
      padding: 10px;
  
  }
  .img-product{
    margin: 25px;
    padding: 25px;
    text-align: center;
    transition: 0.2s;
  }
  .img-product:hover{
    box-shadow:0px 0px 15px #c8c8c8;
  }
  .module-body a {
    text-decoration: none;
    color: #000;
    padding: 5px 27px;
  }
  .btn{
    padding: 6px 14px 6px 14px;
    background-color: #5ae4aa;
    border-radius: 25px;
    color:white;
  }
  .btn:hover{
    box-shadow:0px 0px 2px black;
    background-color: #24db8e;
  }
  