    <div id="video-module">
        <div class="video-text-module">
            <h2>Не знаете, что выбрать?</h2>
            <h3>Данные видеоматериалы помогут разобраться, на что Вам  стоит обратить внимание </h3>
        </div>
        <div class="YTvideo">
            <iframe class="YTvideo-part" width="450" height="254" src="https://www.youtube.com/embed/hrwYPvWMIJw?iv_load_policy=3&modestbranding=1&rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe class="YTvideo-part" width="450" height="254" src="https://www.youtube.com/embed/AJiF-DXmQo0?iv_load_policy=3&modestbranding=1&rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe class="YTvideo-part" width="450" height="254" src="https://www.youtube.com/embed/Q_SaucTSPB4?iv_load_policy=3&modestbranding=1&rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>