#video-module{
    padding:20px;
    margin:20px;
    background: #181818;
    border-bottom: 2px #5ae4aa dashed;
    margin: 0;
    padding: 0;
}
.video-text-module{
    color: #e0e0e0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 14px;
    font-size: 20px;
    h3{
        color: #adadad;
        font-size: 16px;
    }
}
.YTvideo{
    width: 100%;
    margin-bottom: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.YTvideo-part{
    padding: 9px;
}