<div mat-dialog-content>
    <div  class="content">
        <div class="product-image">
            <img [src]="product.selectedColor === 'white' ? product.imageWhite : product.imageBlack"
                [alt]="product.name">     
            <div class="product-summary">
                <div class="cart-item-color" *ngIf="product.imageWhite">
                    <mat-radio-group *ngIf="product.imageWhite" class="radio-button-color" [(ngModel)]="product.selectedColor">
                        <!-- formControlName="deliveryControl" -->
                        <mat-radio-button class="white" matTooltip="Белый" labelPosition="before" value="white"></mat-radio-button>
                        <mat-radio-button class="black" matTooltip="Черный" value="black"></mat-radio-button>
                    </mat-radio-group>
                </div>
                <span> x <span> {{ quantity }} </span></span>
                <kit-quantity [(model)]="quantity"></kit-quantity>
                <span class="item-cost"><span class="cost"> {{ product.cost | costView }} </span> грн</span>
            </div>
        </div>
        <div class="product-info">
            <h3> {{ product.name }}</h3>
            <p class="product-description"> {{ product.description }} </p>
        </div>
    </div>
</div>
<div mat-dialog-actions class="actions">
    <button mat-button (click)="onNoClick()" cdkFocusInitial >Закрыть</button>
    <button class="buy-button" mat-raised-button (click)="toCart()">В корзину</button>
</div>
